---
import "./Layout.css";
import "../starlight/integrations/asides.css";
import MisskeyIcon from "/public/icon/social/misskey.png";
import BlueskyIcon from "/public/icon/social/bluesky.png";

import { getEntry, getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { Image, Picture, getImage } from "astro:assets";
import { getDefaultThumbnail } from "src/utils/getDefaultThumbnailPath";

interface Props {
    frontmatter: CollectionEntry<"article">["data"];
}

if (!Astro.site) throw new Error("site is not defined");

let thumbnailUrl = new URL(getDefaultThumbnail(Astro.url.pathname).src, Astro.site.href).href;
if (Astro.props.frontmatter.thumbnail) {
    thumbnailUrl = new URL(Astro.props.frontmatter.thumbnail.src, Astro.site.href).href;
}

const tagIds = Astro.props.frontmatter.tags ? Astro.props.frontmatter.tags.map((tag) => tag.id) : [];
const tags = (await Promise.all(tagIds.map((tagId) => getEntry("tag", tagId)))).sort((a, b) => {
    if (!a || !b) return 0;
    return a.data.name.localeCompare(b.data.name, "ja");
});

const authorId =
    typeof Astro.props.frontmatter.author === "string"
        ? Astro.props.frontmatter.author
        : Astro.props.frontmatter.author.id;
const author = await getEntry("author", authorId);
if (!author) throw new Error("Undefined author");

const escapeURLs = (text: string) => {
    // URLのドットをスペースとドットに置換する。国際化TLDではTLDにハイフンが含まれることに注意
    const URLs = text.match(/([a-zA-Z0-9\-]+\.)+[a-zA-Z][a-zA-Z0-9\-]+/g);
    if (!URLs) return text;

    for (const URL of URLs) {
        text = text.replace(URL, URL.replace(/\./g, " ."));
    }

    return text;
};

const escapeMentions = (text: string) => {
    // メンションをスペースと@に置換する
    const mentions = text.match(/@[a-zA-Z0-9_]+/g);
    if (!mentions) return text;

    for (const mention of mentions) {
        text = text.replace(mention, mention.replace(/@/g, "@ "));
    }

    return text;
};

const escapeTitle = (title: string) => {
    return escapeMentions(escapeURLs(title));
};

const titleWithSiteName = escapeTitle(`${Astro.props.frontmatter.title} - ${import.meta.env.SITE_NAME}`);

const schema = JSON.stringify({
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "Organization",
            "@id": `${Astro.site}#organization`,
            name: import.meta.env.SITE_NAME,
            url: `${Astro.site}`,
            logo: {
                "@type": "ImageObject",
                "@id": `${Astro.site}#logo`,
                url: `${Astro.site}favicon.svg`,
                caption: import.meta.env.SITE_NAME
            },
            image: {
                "@id": `${Astro.site}#logo`
            }
        },
        {
            "@type": "WebSite",
            "@id": `${Astro.site}#website`,
            url: Astro.site,
            name: import.meta.env.SITE_NAME,
            alternateName: ["ろぼいん", "roboin.io"],
            publisher: {
                "@id": `${Astro.site}#organization`
            }
        },
        {
            "@type": "WebPage",
            "@id": `${Astro.url}#webpage`,
            url: Astro.url,
            name: titleWithSiteName,
            isPartOf: {
                "@id": `${Astro.site}#website`
            },
            image: {
                "@type": "ImageObject",
                "@id": `${Astro.url}#primaryimage`,
                url: thumbnailUrl
            },
            primaryImageOfPage: {
                "@id": `${Astro.url}#primaryimage`
            },
            datePublished: Astro.props.frontmatter.pubDate,
            dateModified: Astro.props.frontmatter.modifiedDate || Astro.props.frontmatter.pubDate,
            description: Astro.props.frontmatter.description
        },
        {
            "@type": "Article",
            "@id": `${Astro.url}#article`,
            isPartOf: {
                "@id": `${Astro.url}#webpage`
            },
            author: {
                "@type": author.data.type,
                name: authorId,
                url: author.data.homePage,
                sameAs: author.data.sameAs
            },
            publisher: {
                "@id": `${Astro.site}#organization`
            },
            headline: titleWithSiteName,
            datePublished: Astro.props.frontmatter.pubDate,
            dateModified: Astro.props.frontmatter.modifiedDate || Astro.props.frontmatter.pubDate,
            mainEntityOfPage: `${Astro.url}#webpage`,
            image: {
                "@id": `${Astro.url}#primaryimage`
            }
        },
        {
            "@type": author.data.type,
            name: authorId,
            url: author.data.homePage,
            sameAs: author.data.sameAs
        }
    ]
});

const getThumbnailData = async () => {
    const thumbnail = Astro.props.frontmatter.thumbnail;

    if (!(Astro.props.frontmatter.showThumbnail && thumbnail)) {
        return {
            showThumbnail: false
        } as const;
    }

    const sources = ["avif", "webp"].map(async (format) => {
        const image = await getImage({
            src: thumbnail,
            format: format,
            width: Math.min(1920, thumbnail.width)
        });

        return {
            srcset: image.src,
            type: `image/${format}`
        } as const;
    });

    const fallbackType = ["gif", "svg", "jpg", "jpeg"].includes(thumbnail.format) ? thumbnail.format : "png";

    const fallback = await getImage({
        src: thumbnail,
        format: fallbackType,
        width: Math.min(1920, thumbnail.width)
    });

    return {
        showThumbnail: true,
        sources: await Promise.all(sources),
        fallback: {
            src: fallback.src,
            attributes: fallback.attributes
        }
    } as const;
};

const thumbnailData = await getThumbnailData();

const generateShareURL = (source: string) => {
    const url = new URL(Astro.url);
    url.searchParams.append("utm_source", source);
    return url.href;
};

const ISO8601ToLocale = (iso8601: string) => {
    return iso8601
        .replace("T", " ")
        .replace(/[\+\-]\d{2}:\d{2}/, "")
        .replace(/(\d{2,4})\-(\d{1,2})\-(\d{1,2})/, "$1年$2月$3日")
        .replace(/(\d{2}:\d{2}):\d{2}/, "$1")
        .replace(/\.\d+$/, "");
};

const sortRelatedArticles = (a: CollectionEntry<"article">, b: CollectionEntry<"article">) => {
    const tagSort =
        (b.data.tags || []).filter((tag) => tagIds.includes(tag.id)).length -
        (a.data.tags || []).filter((tag) => tagIds.includes(tag.id)).length;
    if (tagSort !== 0) return tagSort;
    return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
};

const latestArticles = (await getCollection("article", (article) => !Astro.url.pathname.includes(article.slug))).sort(
    (a, b) => {
        return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
    }
);

/**
 * 関連記事を取得する。
 * 1. 同じタグの記事を取得し、現在の記事とのタグの重複数が多い順に並べる
 * 2. タグの重複数が同じ場合は、投稿日が新しい順に並べる
 * 3. 同じタグの記事が足りない場合は、最新の記事で補う
 */
const getRelatedArticlesData = async () => {
    const NUMBER_OF_RELATED_ARTICLES = 5;

    const sameTagArticles = (
        await getCollection("article", (article) => {
            if (Astro.url.pathname.includes(article.slug) || !article.data.tags) return false;
            return article.data.tags.some((tag) => tagIds.includes(tag.id));
        })
    ).sort(sortRelatedArticles);

    const relatedArticles = [
        ...sameTagArticles.slice(0, NUMBER_OF_RELATED_ARTICLES),
        ...latestArticles.slice(0, Math.max(0, NUMBER_OF_RELATED_ARTICLES - sameTagArticles.length))
    ];

    const relatedArticlesData = relatedArticles.map(async (article) => {
        const articleData = await getEntry("article", article.slug);
        const thumbnail = articleData.data.thumbnail || getDefaultThumbnail(article.slug);
        return {
            title: articleData.data.title,
            link: `/article/${article.slug}/`,
            thumbnail: thumbnail
        };
    });

    return await Promise.all(relatedArticlesData);
};

const getLatestArticlesData = async () => {
    const NUMBER_OF_LATEST_ARTICLES = 5;

    const latestArticlesData = latestArticles.slice(0, NUMBER_OF_LATEST_ARTICLES).map(async (article) => {
        const articleData = await getEntry("article", article.slug);
        const thumbnail = articleData.data.thumbnail || getDefaultThumbnail(article.slug);
        return {
            title: articleData.data.title,
            link: `/article/${article.slug}/`,
            thumbnail: thumbnail
        };
    });

    return await Promise.all(latestArticlesData);
};

const relatedArticlesData = await getRelatedArticlesData();
const latestArticlesData = await getLatestArticlesData();
---

<!doctype html>
<html lang="ja">
    <head prefix="og: http://ogp.me/ns#">
        {
            Astro.props.frontmatter.showAds && (
                <script is:inline async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" />
            )
        }
        <script is:inline>
            window.googletag = window.googletag || { cmd: [] };
            googletag.cmd.push(function () {
                googletag
                    .defineSlot("/9176203,23127422405/1856051", [728, 90], "div-gpt-ad-1713946891063-0")
                    .addService(googletag.pubads());
                googletag
                    .defineSlot(
                        "/9176203,23127422405/1856052",
                        [
                            [320, 50],
                            [320, 100]
                        ],
                        "div-gpt-ad-1713946948591-0"
                    )
                    .addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.pubads().collapseEmptyDivs(); //空のdivを閉じる
                googletag.enableServices();
            });
        </script>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {
            thumbnailData.showThumbnail && (
                <link
                    rel="preload"
                    href={thumbnailData.sources[0].srcset}
                    as="image"
                    type={thumbnailData.sources[0].type}
                />
            )
        }
        <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title={`${import.meta.env.SITE_NAME} RSS Feed`}
            href={`${Astro.site}rss.xml`}
        />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="apple-mobile-web-app-title" content={import.meta.env.SITE_NAME} />
        <meta name="application-name" content={import.meta.env.SITE_NAME} />
        <meta name="theme-color" content="#ffffff" />
        <title>{`${Astro.props.frontmatter.title} - ${import.meta.env.SITE_NAME}`}</title>
        <meta name="author" content={authorId} />
        <meta name="description" content={Astro.props.frontmatter.description} />
        <link rel="canonical" href={Astro.url} />
        <link rel="me" href="https://mstdn.jp/@keita_roboin" />
        <link rel="me" href="https://misskey.io/@roboin" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:type" content={Astro.url.pathname === "/" ? "website" : "article"} />
        <meta property="og:title" content={titleWithSiteName} />
        <meta property="og:description" content={Astro.props.frontmatter.description} />
        <meta property="og:site_name" content={import.meta.env.SITE_NAME} />
        <meta property="og:image" content={thumbnailUrl} />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@keita_roboin" />
        <script is:inline type="application/ld+json" set:html={schema} />
        <!-- Google tag (gtag.js) -->
        <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-7HZY93W2BY"></script>
        {
            Astro.props.frontmatter.showAds && (
                <script
                    is:inline
                    async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2526648882773973"
                    crossorigin="anonymous"
                />
            )
        }
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-7HZY93W2BY");

            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </head>
    <body>
        <!-- /9176203,23127422405/1856051 PC オーバーレイ_PC -->
        <div
            style="position:fixed;bottom:0;padding-bottom:env(safe-area-inset-bottom);left:0;right:0;width:100%;background:rgba(0, 0, 0, 0);z-index:99998;text-align:center;transform:translate3d(0, 0, 0);"
        >
            <div id="div-gpt-ad-1713946891063-0" style="margin:auto;text-align:center;z-index:99999;">
                <script is:inline>
                    googletag.cmd.push(function () {
                        googletag.display("div-gpt-ad-1713946891063-0");
                    });
                </script>
            </div>
        </div>
        <!-- /9176203,23127422405/1856052 SP オーバーレイ -->
        <div
            style="position:fixed;bottom:0;padding-bottom:env(safe-area-inset-bottom);left:0;right:0;width:100%;background:rgba(0, 0, 0, 0);z-index:99998;text-align:center;transform:translate3d(0, 0, 0);"
        >
            <div id="div-gpt-ad-1713946948591-0" style="margin:auto;text-align:center;z-index:99999;">
                <script is:inline>
                    googletag.cmd.push(function () {
                        googletag.display("div-gpt-ad-1713946948591-0");
                    });
                </script>
            </div>
        </div>
        <header data-overlay-menu="closed">
            <a href="/">
                <Image src="/logo.svg" alt="ロゴ" id="header_logo" width="512" height="185" loading="eager" />
            </a>
            <nav>
                <a href="/article/">ARTICLES</a>
                <a href="/notice/">NEWS</a>
            </nav>
            <button id="menu_button" aria-label="メニューボタン">
                <div></div>
            </button>
        </header>
        <main>
            <article>
                {
                    Astro.props.frontmatter.showAds && (
                        // ↓記事のトップに表示する広告。スマホ専用
                        <div id="top_ad_mobile">
                            <ins
                                class="adsbygoogle"
                                data-ad-client="ca-pub-2526648882773973"
                                data-ad-slot="1835222588"
                                data-ad-format="horizontal"
                                data-full-width-responsive="false"
                            />
                            <script is:inline>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                        </div>
                    )
                }
                {
                    thumbnailData.showThumbnail && (
                        <picture>
                            {thumbnailData.sources.map((source) => {
                                return <source srcset={source.srcset} type={source.type} />;
                            })}
                            {
                                // Firefoxでは問題ないが、Chromeでレイアウトシフトが発生するのを防ぐため、img要素にstyle属性を追加
                            }
                            <img
                                src={thumbnailData.fallback.src}
                                alt="サムネイル"
                                loading="eager"
                                style="width: 100%; height: auto; max-height: none;"
                                {...thumbnailData.fallback.attributes}
                            />
                        </picture>
                    )
                }
                <h1>{Astro.props.frontmatter.title}</h1>
                <div id="article_tags">
                    {
                        !!tags.length &&
                            tags.map((tag) => {
                                if (!tag) return;
                                return <a href={`/tag/${tag.id}/`}>#{tag.data.name}</a>;
                            })
                    }
                </div>
                <div id="article_info">
                    {
                        Astro.props.frontmatter.showDate && (
                            <span>
                                投稿日：
                                <time datetime={Astro.props.frontmatter.pubDate}>
                                    {ISO8601ToLocale(Astro.props.frontmatter.pubDate)}
                                </time>
                            </span>
                        )
                    }
                    {
                        Astro.props.frontmatter.showDate && Astro.props.frontmatter.modifiedDate && (
                            <span>
                                更新日：
                                <time datetime={Astro.props.frontmatter.modifiedDate}>
                                    {ISO8601ToLocale(Astro.props.frontmatter.modifiedDate)}
                                </time>
                            </span>
                        )
                    }
                </div>
                <slot />
            </article>
            <section class="share_button">
                <a
                    href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(
                        titleWithSiteName
                    )}&url=${encodeURIComponent(generateShareURL("twitter"))}&via=${encodeURIComponent(
                        "keita_roboin"
                    )}&related=${encodeURIComponent("keita_roboin")}%3A最新の情報を入手する`}
                    target="_blank"
                >
                    <Image src="/icon/social/twitter.svg" alt="Twitterのアイコン" width="100" height="100" />
                </a>
                <a
                    href={`https://line.me/R/share?text=${encodeURIComponent(
                        `${titleWithSiteName} ${generateShareURL("line")}`
                    )}`}
                    target="_blank"
                >
                    <Image src="/icon/social/line.svg" alt="LINEのアイコン" width="100" height="100" />
                </a>
                <a
                    href={`https://www.threads.net/intent/post?text=${encodeURIComponent(
                        `${titleWithSiteName} ${generateShareURL("threads")}`
                    )}`}
                    target="_blank"
                >
                    <Image src="/icon/social/threads.svg" alt="Threadsのアイコン" width="100" height="100" />
                </a>
                <a
                    href={`https://misskey-hub.net/share/?text=${encodeURIComponent(
                        `${titleWithSiteName}\n${generateShareURL("misskey")}`
                    )}&visibility=public&localOnly=0`}
                    target="_blank"
                >
                    <Picture
                        src={MisskeyIcon}
                        formats={["avif", "webp"]}
                        alt="Misskeyのアイコン"
                        width="100"
                        height="100"
                    />
                </a>
                <a
                    href={`https://bsky.app/intent/compose?text=${encodeURIComponent(`${titleWithSiteName}\n${generateShareURL("bluesky")}`)}`}
                    target="_blank"
                >
                    <Picture
                        src={BlueskyIcon}
                        formats={["avif", "webp"]}
                        alt="Misskeyのアイコン"
                        width="100"
                        height="100"
                        style="border-radius: 50%;"
                    />
                </a>
            </section>
            {
                Astro.props.frontmatter.showAuthor && (
                    <address class="author_info">
                        <Picture
                            class="author_info-icon"
                            src={author.data.icon}
                            formats={["avif", "webp"]}
                            alt="著者のアイコン画像"
                            width="100"
                            height="100"
                        />
                        <div class="author_info-text">
                            <b class="author_info-name">{authorId}</b>
                            <div class="author_info-link_container">
                                {Object.keys(author.data.profileLinks).map((linkName) => {
                                    const link = author.data.profileLinks[linkName];
                                    return (
                                        <a href={link} target="_blank">
                                            {linkName}
                                        </a>
                                    );
                                })}
                            </div>
                        </div>
                    </address>
                )
            }
            <ins
                class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-2526648882773973"
                data-ad-slot="3108993340"
                data-ad-format="rectangle, horizontal"
                data-full-width-responsive="false"></ins>
            <script is:inline>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            {
                Astro.props.frontmatter.showRecommendedArticles && (
                    <>
                        <section class="recommended_articles_section" id="related_articles_section">
                            {/* ↓関連記事の上に表示する広告。PC専用 */}
                            <ins
                                id="top_ad_desktop"
                                class="adsbygoogle"
                                data-ad-client="ca-pub-2526648882773973"
                                data-ad-slot="1755549071"
                                data-ad-format="auto"
                                data-full-width-responsive="false"
                            />
                            <script is:inline>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                            <h2>関連記事</h2>
                            <div class="recommended_articles">
                                {relatedArticlesData.map((data) => {
                                    return (
                                        <article>
                                            <a href={data.link}>
                                                <Image
                                                    src={data.thumbnail}
                                                    width={Math.min(600, data.thumbnail.width)}
                                                    alt="サムネイル"
                                                    loading="lazy"
                                                    decoding="async"
                                                />
                                                <h3>{data.title}</h3>
                                            </a>
                                        </article>
                                    );
                                })}
                            </div>
                            <ins
                                class="adsbygoogle"
                                style="display:block"
                                data-ad-client="ca-pub-2526648882773973"
                                data-ad-slot="5941904776"
                                data-ad-format="auto"
                                data-full-width-responsive="false"
                            />
                            <script is:inline>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                        </section>
                        <section class="recommended_articles_section">
                            <h2>最新記事</h2>
                            <ins
                                class="adsbygoogle"
                                style="display:block"
                                data-ad-format="fluid"
                                data-ad-layout-key="-gc+3r+68-9q-29"
                                data-ad-client="ca-pub-2526648882773973"
                                data-ad-slot="4887009254"
                            />
                            <script is:inline>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                            <div class="recommended_articles">
                                {latestArticlesData.map((data) => {
                                    return (
                                        <article>
                                            <a href={data.link}>
                                                <Image
                                                    src={data.thumbnail}
                                                    width={Math.min(600, data.thumbnail.width)}
                                                    alt="サムネイル"
                                                    loading="lazy"
                                                    decoding="async"
                                                />
                                                <h3>{data.title}</h3>
                                            </a>
                                        </article>
                                    );
                                })}
                            </div>
                            <ins
                                class="adsbygoogle"
                                style="display:block"
                                data-ad-format="fluid"
                                data-ad-layout-key="-gc+3r+68-9q-29"
                                data-ad-client="ca-pub-2526648882773973"
                                data-ad-slot="4887009254"
                            />
                            <script is:inline>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                        </section>
                    </>
                )
            }
        </main>
        <footer>
            <p>Copyright © {new Date().getFullYear()} ろぼいん All rights reserved.</p>
            <p>
                <a href="/tos/">利用規約</a>・<a href="/privacy/">プライバシーポリシー</a>・<a href="/contact/"
                    >お問い合わせ</a
                >
            </p>
        </footer>
        <script src="./Layout.ts"></script>
    </body>
</html>
